.header {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 120px 0 40px 0;
    background: $white;
    
    h1 {
        font-family: 'Yellowtail', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 65px;
        text-align: center;
        letter-spacing: 0.36px;
        color: $green;
        padding: 0;
        margin: 0 auto;
    }
    
    h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 58px;
        text-align: center;
        letter-spacing: 0.36px;
        text-transform: capitalize;
        color: $dark-blue;
        padding: 0;
        margin: 0 auto;
    }
}